.Banner {
  /* Take up 80% of the viewport height */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Example background color */
  align-items: flex-start;
}

.full-stack {
  /* font-size: calc(100% + 10vw + 10vh); */
  /* Minimum 2rem, scalable with viewport width, maximum 15rem */
  font-size: clamp(2rem, 14vw, 20rem);
  line-height: 1;
  white-space: nowrap;
}

.swe {
  /* font-size: calc(100% + 10vw + 10vh); */
  /* Minimum 1.5rem, scalable with viewport width, maximum 12rem */
  font-size: clamp(2rem, 14vw, 15rem);
  margin-top: -1rem;
  line-height: 1;
}

.full-stack,
.swe {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: -.813rem;
  font-weight: bold;
}
/* Handle letter spacing on smaller screens <768  */
@media (max-width: 768px) {
  .full-stack, .swe {
    letter-spacing: -.250rem;
    line-height: 1.5;
  }
}