#Footer-bar{
  /* border-bottom: 1px solid black; */
}

#Footer-bar {
  /* border-bottom: 2px solid black; */
  bottom: 0;
  height: 50px;
  padding: 0;
  /* position: fixed; */


}

#Portfolio-Footer-bar {
  border-top: 2px solid black;
  /* border-bottom: 2px solid black; */
  bottom: 0;
  height: 50px;
  padding: 0;
  position: absolute;
}

#footer-content {
  border-bottom: 2px solid #323232;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 50px;
  letter-spacing: 5px;
  position: sticky;
  bottom: 0;
  letter-spacing: 1.25em;
}

#Footer-container {
  border-top: 2px solid #323232;
  /* border-bottom: 2px solid black; */
  bottom: 0;
  position: fixed;
  height: 50px;



}

#Portfolio-footer-container- {
  /* border-top: 2px solid black; */
  bottom: 0;
  position: fixed;
  height: 50px;
  /* border-bottom: 2px solid black; */



}

#Portfolio-footer-content {
  border-top: 2px solid #323232;
  ;
  border-bottom: 2px solid #323232;
  ;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  letter-spacing: 1.25em;
  align-items: flex-end;
  height: 50px;
}

#Portfolio-Footer-bar {
  bottom: 0;
  height: 50px;
  padding: 0;
  /* position: fixed; */


}