#Footer-top-border {
  border-top: 2px solid #323232;
  border-bottom: 2px solid #323232;
  bottom: 0;
  position: fixed;
  height: 50px;
  background-color: beige;
  z-index: 1;
}

#Footer-content {
  border-top: .1px solid #323232;
  border-bottom: 2px solid #323232;
  height: 50px;
}

#Footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: sticky;
  letter-spacing: 1.25em;
  z-index: 2;
}

a {
  color: inherit;
}

a:hover {
  color: grey;
}