#Header-bar {
  border-top: 2px solid #323232;
  border-bottom: 2px solid #323232;
  /* position: fixed; */
  /* text-align: center; */
  letter-spacing: 1.5em;
  text-transform: uppercase;
  padding-top: .625rem;
  font-weight: 400;
}