#Nav-navbar {
  position: fixed;
  top: 45vh;
  left: 5vh;
  font-size: 1vw;
  align-items: flex-start;
}

.Nav-link {
  text-decoration: none;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: whitesmoke;
}

.Nav-link:hover {
  transition: .25s;
  color: #323232;
}

#Nav-resume::before {
  content: "Resume";
}

#Nav-resume:hover::before {
  content: "Download";
}

@media (width < 1315px){
  #Nav-navbar {
    font-size: .85vw;
    left: 2vh;
  }
  .Nav-link{
    letter-spacing: .75rem;
  }
}

@media (width < 1024px){
  #Nav-navbar {
    font-size: 1vw;
    left: 2vh;
  }
  .Nav-link{
    letter-spacing: .75rem;
  }
}
