#Portfolio-container-grid {
    display: flex;
    align-items: center;
    overflow-x: auto;
    /* justify-content: space-evenly; */
}

#Portfolio-container-carousel {
    display: flex;
    justify-content: center;
}

#Portfolio-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

/* Removes white space between apps on smaller displays. 
 - this was causing the app on the left to only be partially visible.
 - doesn't look great but you can now scroll across all apps.
 - need to adjust for other display sizes
*/
@media (min-width: 1248px) {
    #Portfolio-container-grid {
        justify-content: space-evenly;
    }
}