/* MIGRATED */
.ProjectCardView-image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;   /* 4/3, 16/9, 1/1 */
  object-fit: cover;
}
/* parent */
.ProjectCardView-container {
  position: relative;
}

img {
  border: solid #011016;
}
/* child */
.ProjectCardView-container .ProjectCardView-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  height: 100%;
  display: none; 
  color: #FFF;
}

.ProjectCardView-container:hover .ProjectCardView-overlay {
  display: flex;
  flex-direction: column-reverse;
  background: rgba(0, 0, 0, .6); 
  padding-bottom: 1rem;
}
