#ProjectCard-image {
  width: 25rem;
  height: 17rem;
}

.ProjectCard-container {
  position: relative;
}

img {
  border: thick double #011016;
}

.ProjectCard-container .ProjectCard-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}

.ProjectCard-container:hover .ProjectCard-overlay {
  display: flex;
  flex-direction: column-reverse;
  background: rgba(0, 0, 0, .6);
  padding-bottom: 1rem;
}
